<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="game.libretro.gearcoleco">
		<category id="system" label="30011" help="30012">
			<group id="1">
				<setting id="gearcoleco_timing" type="string" label="30001" help="30013">
					<level>0</level>
					<default>Auto</default>
					<constraints>
						<options>
							<option label="16316">Auto</option>
							<option label="30025">NTSC (60 Hz)</option>
							<option label="30026">PAL (50 Hz)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="gearcoleco_mapper" type="string" label="30010" help="30014">
					<level>0</level>
					<default>Auto</default>
					<constraints>
						<options>
							<option label="16316">Auto</option>
							<option label="30027">Standard</option>
							<option label="30028">MegaCart</option>
							<option label="30029">Activision</option>
							<option label="30030">OCM</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="gearcoleco_video_chip" type="string" label="30037" help="30038">
					<level>0</level>
					<default>Auto</default>
					<constraints>
						<options>
							<option label="16316">Auto</option>
							<option label="30039">TMS9918A</option>
							<option label="30040">F18A</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="video" label="30015" help="30016">
			<group id="1">
				<setting id="gearcoleco_aspect_ratio" type="string" label="30008" help="30017">
					<level>0</level>
					<default>1:1 PAR</default>
					<constraints>
						<options>
							<option>1:1 PAR</option>
							<option>4:3 DAR</option>
							<option>16:9 DAR</option>
							<option>16:10 DAR</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="gearcoleco_overscan" type="string" label="30005" help="30041">
					<level>0</level>
					<default>Disabled</default>
					<constraints>
						<options>
							<option label="13106">Disabled</option>
							<option label="30031">Top+Bottom</option>
							<option label="30032">Full (284 width)</option>
							<option label="30033">Full (320 width)</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="gearcoleco_no_sprite_limit" type="string" label="30003" help="30019">
					<level>0</level>
					<default>Disabled</default>
					<constraints>
						<options>
							<option label="13106">Disabled</option>
							<option label="305">Enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
		<category id="input" label="30020" help="30021">
			<group id="1">
				<setting id="gearcoleco_up_down_allowed" type="string" label="30002" help="30022">
					<level>0</level>
					<default>Disabled</default>
					<constraints>
						<options>
							<option label="13106">Disabled</option>
							<option label="305">Enabled</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="gearcoleco_spinners" type="string" label="30009" help="30023">
					<level>0</level>
					<default>Disabled</default>
					<constraints>
						<options>
							<option label="13106">Disabled</option>
							<option label="30034">Super Action Controller</option>
							<option label="30035">Wheel Controller</option>
							<option label="30036">Roller Controller</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
				<setting id="gearcoleco_spinner_sensitivity" type="string" label="30007" help="30024">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
						</options>
					</constraints>
					<control type="list" format="string" />
				</setting>
			</group>
		</category>
	</section>
</settings>
